body {
}
body {
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    text-decoration: none;
}

    .menu li {
        display: inline;
        margin-right: 50px;
    }

.container {
    height: 600px;
    width: auto;
}

.header {
    height: 80px;
    width: auto;
    background-color: skyblue;
}

.row {
    height: 50px;
    width: 1500px;
    position: absolute;
    left: 181px;
    top: 20px;
}

.info {
    float: left;
    position: absolute;
    right: -158px;
    top: 3px;
    text-decoration: none;
}
a {
    color: #333;
    text-decoration: none;
    FONT-SIZE: large;
}
ul.editnav {
    position: absolute;
    top: 20px;
    text-decoration: none;
    list-style-type: none;
}
.navhead {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 300px;
    height: 500px;
    border:solid 1px;
    border-color:aqua;
}
.editnav li {
    margin-bottom: 20px;
}
.menuform {
    position: absolute;
    top: 100px;
    height: 200px;
    left: 384px;
}
table {
   
    width: 495px;
}
table td{
    font-weight:700;
}
footer {
    position: fixed;
    bottom: 5px;
    left: 63px;
}
.addSlide {
    background-color: yellowgreen;
    width: 352px;
    height: 500px;
    position: fixed;
    top: 100px;
    right: 0;
}