
@{
    ViewBag.Title = "ChangeState";
}

<h2>ChangeState</h2>


<div class="menuform">
    <form method="post" action="@Url.Action("changestate","user")">
        
        <div class="form-group">
            <div class="col-md-4 ">
                <input type="submit" class="btn btn-info" id="ChangeState" value="Change" />
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action("index","user")">Back To List</a>
        </div>
    </form>


</div>

