
@{
    ViewBag.Title = "Update";
}



    <div class="menuform">
        <h2>Update</h2>
        <form method="post" action="@Url.Action("update","edit")">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="Name">Name</label>
                    <input type="text" name="Name" id="name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label for="Link">Link</label>
                    <input type="text" name="Link" id="Link" class="form-control" />
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-4 ">
                    <input type="submit" class="btn btn-info" value="Update" />
                </div>
            </div>
            <div class="row">
                <a href="@Url.Action("index","edit")">Back To List</a>
            </div>
        </form>


    </div>
