@using TestProject.Areas.Client.Data
@model List<Wheather>

@{
    ViewBag.Title = "Homepage";
}

<h2>TestApi</h2>

@*<div>
    <ul>
        @foreach (Wheather whet in Model)
        {
            <li>
                <a>@cat.Title</a>
            </li>
        }
    </ul>

</div>*@