
@using TestProject.Areas.Client.Wheatheritems
@model List<Weatherinfo>
@{
    ViewBag.Title = "Homepage";
}


<div class="menuform">
    <ul class="menu">
        @foreach (Weatherinfo weatherinfo in Model)
        {
            <li>@weatherinfo.Name</li>
            <li>Atmosfer təzyiqi: @weatherinfo.main.pressure Ph</li>
            <li>Nəmişlik: @weatherinfo.main.humidity %</li>
            <li>Temperatur: @weatherinfo.main.temp </li>

        }
    </ul>
</div>
<div>
    <div class="addSlide">
        <a class="slide" href="#">
            <i class="fa fa-times-circle"></i>
        </a>

    </div>
</div>