
@using TestProject.Areas.Client.Wheatheritems
@using TestProject.Models
@model List<Weatherinfo>
@{
    using (TestProjectEntities db = new TestProjectEntities())
    {
        AdPanel ad = new AdPanel(id);
        ad=db.AdPanels
    }
    
    ViewBag.Title = "Homepage";
}


<div class="menuform">
    <ul class="menu">
        @foreach (Weatherinfo weatherinfo in Model)
        {
            <li>@weatherinfo.Name</li>
            <li>Atmosfer təzyiqi: @weatherinfo.main.pressure Ph</li>
            <li>Nəmişlik: @weatherinfo.main.humidity %</li>
            <li>Temperatur: @weatherinfo.main.temp </li>

        }
    </ul>
</div>
<div>
    <div class="addSlide">
        <a href="#"class="slide">@
            <i class="fa fa-times-circle"></i>
        </a>

    </div>
</div>